@import "http://fonts.googleapis.com/css?family=Montserrat:300,400,700";
body{
	padding: 0 2em;
	font-family: "Montserrat", sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color: #444;
	background: #eee;
}
h1{
	font-weight: normal;
	color: #34495e;
}
.rwd-table{
	background: #34495e;
	color: #fff;
	border-radius: .4em;
}
.rwd-table tr{
	border-color: #44637f;
}
.rwd-table th, .rwd-table td{
	margin: .5em 1em;
}
.rwd-table th, .rwd-table td::before{
	color: #dd5;
}
.rwd-table{
	margin: 1em auto;
}
.rwd-table tr{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.rwd-table th{
	display: none;
	text-align: left;
}
.rwd-table td{
	display: block;
}
.rwd-table td:first-child{
	padding-top: .5em;
}
.rwd-table td:last-child{
	padding-bottom: .5em;
}
.rwd-table td::before{
	content: attr(data-th)":";
	font-weight: bold;
	width: 6.5em;
	display: inline-block;
}

@media screen and (max-width: 864px) {
	body{width: 300px;
		margin: auto; }
}

@media screen and (min-width: 865px) {

	.rwd-table tr{text-align: center;}

	.rwd-table th{display: inline-block;
		width: 11.285%;
		margin: 1em 3%; }
	.rwd-table th:first-child, .rwd-table td:first-child{
		margin-left: 0;
	}
	.rwd-table th:last-child , .rwd-table td:last-child{
		margin-right: 0;
	}

	.rwd-table td::before{
		display: none;
	}
	.rwd-table{width: 100%;}
	.rwd-table td{display: inline-block;
		text-align: left;
		width: 11.285%;
		margin: 1em 3%; }
}

@media screen and (min-width: 1024px) {

}
