/* 12 14 16 21 24 36 48 60 72 */

body{font: 16px/24px arial;
	color: #222;
	transition: 0.5s; }

main {width: 960px;
	margin: 0 auto;
	background-image: linear-gradient(#ddd 1px, transparent 1px); 
	background-size: auto 24px;
	color: #222; }	

header, footer{background-color: #222;
	color: white; }

header{padding: 24px 0;
	text-align: center;}


header img{float: left;
	width: 48px; height: 48px;
	margin-left: 5%;
	text-transform: uppercase; }

header nav{float: left;
	width: 87%; }

header nav ul{text-align: right;
	margin-top: 24px;}

header li{display: inline-block;
	padding: 0 5px;
	text-transform: uppercase; }

li.icon{display: none;}

.icon a{font-size: 36px;}

.open{font-size: 30px;
	text-decoration: none; }

main aside:first-child{height: 100%;
	width: 200px;
	margin-left: -200px;
	position: fixed;
	z-index: 1;
	top: 0; left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 30px;
}

main aside:first-child li{
	display: block;
	text-align: center;
	transition: 0.3s;
	color: #aaa;
	padding: 12px 0;
}

main aside:first-child .button{
	position: absolute;
	top: 15px; right: 20px;
	font-size: 30px;
}

main aside:first-child .button:hover{
	color: #fff;
}

main aside:first-child li:not(:first-child):hover{
	background-color: #333;
	color: #fff;
	padding: 24px 0;
}

a{text-decoration: none;
	color: inherit; }

h1{font: bold 48px/48px 'Raleway'; 
	text-align: center;
	text-transform: uppercase; }

main{padding: 24px 0;}

main section{width: 30.33333%;
	margin: 0 0;
	padding: 0 1.5%;
	float: left; }

main section:nth-of-type(4){width: 97%; }

main p{margin: 24px 0;}

h2, a{font: bold 21px/24px 'Raleway'; }

footer{font: italic 14px/24px arial;
	text-align: center;
	padding: 12px 0 12px 0;  }

@media screen and (max-width: 1024px) {
	main{width: 750px; }
	main section, main section:nth-of-type(4){width: 47%; }

}

@media screen and (max-width: 770px) {
	body{background-color: #fff;}

	main{width: 90%;}

	header{border-radius: 0px;}

	h1{padding: 24px 0;}

	main section, main section:nth-of-type(4){width: 100%;}

	nav li:not(:last-child){
		display: none;
	}

	header nav{width: 50%;}

	li.icon{display: inline;
		position: absolute;
		right: 5%; top: 36px; }

}