body{font: 16px/24px arial;
	background-color: #f2f2f2; } /* 12 14 16 21 24 36 48 60 72 */

main{background-color: #fff;
	width: 85%;
	margin: 48px auto;
	padding: 96px 5%;
	-webkit-box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.5);
	   -moz-box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.5);
			box-shadow: 0px 0px 18px -5px rgba(0,0,0,0.5);
 }

main .table{width: 1200px;
	margin: auto;}

main .table td, main .table th{
	padding: 6px; }

main .table thead{border-bottom: 2px #ddd solid;
	text-align: left;
	font-weight: bold; }

main .table tbody tr{border-bottom: 1px #ddd solid}

main .table .name, main .table .contact{width: 240px; }


@media screen and (max-width: 1400px) { /* Desktop */

	main .table{width: 100%;
		margin: auto;}

}

@media screen and (max-width: 1400px) { /* Desktop */

	main .table{width: 100%;
		margin: auto;}

}

@media screen and (max-width: 1024px) { /* Laptop */

	main .table tbody .contact label{display: none;}

	main .table tbody .contact{width: inherit;}

}

@media screen and (max-width: 815px) { /* Tablet */

	main .table .name{width: 180px;}
	main .table .line-3, .table .title{display: none;}


}

@media screen and (max-width: 710px) { /* Mobile */

	main .table .name{width: 31%;}
	main .table .address{width: 59%;}
	main .table .contact{width: 10%;}
	main .table .line-2{display: none;}

}