/* 12 14 16 21 24 36 48 60 72 */

body{font: 16px/24px arial;
	transition: 0.5s; }

header, footer{background-color: #222;
	color: #aaa;
	padding: 24px 0;
	font: 21px/24px 'Raleway'; }

main {width: 960px;
	margin: 0 auto;
	padding: 24px 0;
	background-image: linear-gradient(#ddd 1px, transparent 1px); 
	background-size: auto 24px;
	color: #222; }

/* Navigation */
h1{font: bold 48px/48px 'Raleway'; 
	text-transform: uppercase;
	float: left;
	padding-left: 5%;
	width: 17%; }

header nav{float: left;
	padding-right: 5%;
	width: 73%;
	text-align: right;
	margin-top: 24px; }

header li{display: inline;
	padding: 0 5px;
	text-transform: uppercase; }

header a{transition: 0.3s; }
header a:hover, .side-nav li:hover{color: #fff; }

header li.icon{display: none; 
	transition: 0.3s;
	font-size: 36px;
	position: absolute;
	right: 5%; top: 36px; }

.icon.rotate {-webkit-transform: rotate(-90deg);
				 -moz-transform: rotate(-90deg);
				  -ms-transform: rotate(-90deg);
				   -o-transform: rotate(-90deg);
					  transform: rotate(-90deg); }

/* Textbox */
header section{float: left; 
	margin: 24px 0;
	width: 100%;
	color: #666; }

header section h2{width: 940px;
	margin: auto;
	text-transform: uppercase; }

header section p{width: 920px;
	font: italic 16px/24px 'Raleway';
	margin: 12px auto; }


/* Mobile Nav */
.side-nav{position: fixed;
	top: 0; left: 0;
	width: 0; height: 100%;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	z-index: 1; }

.side-nav ul{padding: 24px 0;
	max-height: 190px; }

.side-nav li{display: block;
	text-transform: uppercase;
	text-align: center;
	transition: 0.3s;
	width: 200px;
	color: #aaa;
	padding: 12px 0;
	font: 21px/24px 'Raleway'; }

.side-nav li:hover{background-color: #333;
	padding: 24px 0; }

main .side-nav section{margin: 24px 10px;
	font: 12px/24px 'Raleway';
	width: 180px;
	color: #444; }

/* Content */
main > section{width: 30.33333%;
	padding: 0 1.5%;
	float: left; }

h2{font: bold 21px/24px 'Raleway'; }

main p{margin: 24px 0; }

/* Footer */
footer{font: italic 14px/24px arial;
	text-align: center;
	padding: 12px 0 12px 0;  }

/* Media Queries */
@media screen and (min-width: 1024px) { /* Desktop */
	main > section:nth-of-type(3n+1):last-of-type{width: 97%; }

	main > section:nth-of-type(3n+1):nth-last-child(2){width: 47%; }
	main > section:nth-of-type(3n+2):last-of-type{width: 47%; }

}

@media screen and (max-width: 1024px) { /* Tablet */
	header section{display: none; }

	main{width: 750px; }

	main > section{width: 47%; }
	main > section:nth-of-type(odd):last-child{width: 97%; }

}

@media screen and (max-width: 770px) { /* Mobile */
	main{width: 90%;}

	header li{display: none; }
	header li.icon{display: inline; }
	
	main > section{width: 100%;
		padding: 0; }

}